<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Enforce Absolute HTTPS Sovereignty
    RewriteCond %{HTTPS} off
    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # Shield the /public/ segment from the URL
    RewriteRule ^$ public/ [L]
    RewriteRule ^((?!public/).*)$ public/$1 [L]
</IfModule>
